header>div {
  border-top: 0.3em solid;
  border-color: red;
}
div.profile-container {
  border: 0.3em solid;
  border-color: red;
  z-index: -1;
  position:relative;
  background-color: #b05b00;
  background-image: url(http://www.transparenttextures.com/patterns/3px-tile.png);  
}
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
}