/* button style */
button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #5a5858;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Bungee";
  font-weight: 300;
  color: #f0f0f5;
  text-align: center;
  transition: all 0.2s;
  background-color: #4056a1;
}
.bouncy {
  animation: bouncy 5s infinite linear;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: bouncy;
  position: relative;
}
@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

/* button end */
/* form  */
label {
  font-size: 2em;
  padding: 0.5em;
}

section.new-tweet {
  width: 100%;
  margin: 2em;
}

output.counter {
  margin-left: 28em;
  font-family: "Bungee";
}

#tweet-text {
  margin: 1em;
  width: 75%;
  height: 3.1em;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom: 3px solid;
  border-bottom-color: #3638b8;
  background-color: transparent;
}
.tweet {
  border: 2px solid black;
  width: 60%;
  margin: 2em;
  padding: 1em;
  word-break: break-all;

}
.tweet-header {
  display: flex;
  justify-content: space-between;
}

.tweet-header-left {
  display: flex;
}

.tweet-footer-left {
  display: flex;
  justify-content: space-between;
}

.profile {
  width: 4em;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
}

/*dynamic alert message */
div.alert {
  display: flex;
  justify-content: center;
  border-radius: 1em;
  color: #640d14;
  font-size: 1.2em;
  font-weight: 600;
  border: 2px solid;
  padding: 0.2em;
  margin: 0.3em;
  background-color: #ad2831;
}

i.alert {
  background-color: #800e13;
}
